spanning-tree mode rapid-pvst

spanning-tree vlan-id 10 priority 4096
spanning-tree vlan-id 20 priority 8192

interface Vlan10
 vrrp 10 ipv4 172.16.0.254
 vrrp 10 priority 110
 vrrp 10 preempt

interface Vlan20
 vrrp 20 ipv4 172.16.1.254
 vrrp 20 priority 100
 vrrp 20 preempt
